<div class="row mb-3">
  <div class="col-sm-12 col-lg-12 d-flex justify-content-end">
    <div class="btn-group">
      @if(statusInt === 0){
      <button   data-bs-toggle="modal" data-bs-target="#verify" type="button" class="btn btn-primary"> <i class="feather icon-check"></i> Verify</button>
      <button  data-bs-toggle="modal" data-bs-target="#decline" type="button" class="btn btn-danger"> <i class="feather icon-x"></i> Decline</button>
      }
      @if(statusInt === 1){
      <button   data-bs-toggle="modal" data-bs-target="#authorize" type="button" class="btn btn-primary"> <i class="feather icon-check"></i> Authorize</button>
      <button  data-bs-toggle="modal" data-bs-target="#decline" type="button" class="btn btn-danger"> <i class="feather icon-x"></i> Decline</button>
      }
      @if(statusInt === 2){
      <button   data-bs-toggle="modal" data-bs-target="#approve" type="button" class="btn btn-primary"> <i class="feather icon-check"></i> Approve</button>
      <button  data-bs-toggle="modal" data-bs-target="#decline" type="button" class="btn btn-danger"> <i class="feather icon-x"></i> Decline</button>
      }
      <button (click)="goBack()" type="button" class="btn btn-secondary"> <i class="feather icon-skip-back"></i> Go Back</button>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid d-flex justify-content-between">
              <div class="col-lg-3 ps-0">
                <p class="mt-1 mb-1">
                  <img src="assets/images/kgirs.png" height="82" width="82" alt="KGIRS">
                </p>
                <h4 class="bill-heading-two">
                  KOGI STATE GOVERNMENT
                </h4>
                <h3 class="bill-heading-three">CENTRAL BILLING SYSTEM</h3>
                <h4 class="bill-heading-four">NO. 1 BEACH ROAD, LOKOJA, KOGI STATE, NIGERIA.</h4>
                <h5 class="bill-heading-five">PHONE: 08083427276</h5>

                <h5 class="mt-5 mb-2 text-secondary">Billed to :</h5>
                <p>{{ownerName}} ({{buildingCode}})<br> {{contactAddress}}<br> {{phoneNo}}</p>
              </div>
              <div class="col-lg-3 pe-0">
                <h4 class="fw-bolder text-uppercase text-end mt-4 mb-2">Assessment No.</h4>
                <h6 class="text-end mb-5 pb-4">#{{assessmentNo}}</h6>
                <p class="text-end mb-1">Bill Amount</p>
                <h4 class="text-end fw-normal">{{APP_CURRENCY}} {{ billAmount.toLocaleString()  }}</h4>
                <h6 class="mb-0 mt-3 text-end fw-normal mb-2"><span class="text-secondary">Date :</span> {{entryDate}}</h6>
              </div>
            </div>
            <div class="container-fluid mt-5 d-flex justify-content-center w-100">

              <div class="table-responsive w-100">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Building Code</th>
                    <th class="text-end">Billing Code</th>
                    <th class="text-end">LGA</th>
                    <th class="text-end">Zone</th>
                    <th class="text-end">Class</th>
                    <th class="text-end">Occupancy</th>
                    <th class="text-end">Year</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-end">
                    <td class="text-start">1</td>
                    <td class="text-start">{{buildingCode}}</td>
                    <td>{{pavCode}}</td>
                    <td>{{lgaName}}</td>
                    <td>{{ zone }}</td>
                    <td>{{ propertyClass }}</td>
                    <td>{{ occupancy }}</td>
                    <td>{{ year }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="container-fluid mt-5 w-100">
              <div class="row">
                <div class="col-md-6 ms-auto">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <tr>
                        <td><strong>Billed By:</strong></td>
                        <td class="text-end"> {{billedBy}}</td>
                      </tr>
                      @if(statusInt === 3){
                      <tr>
                        <td><strong>Objections?:</strong></td>
                        <td class="text-end">
                          <span *ngIf="objection == 0" class="text-success">No</span>
                          <span *ngIf="objection == 1" class="text-danger">Yes</span>
                        </td>
                      </tr>
                      }
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-md-6 ms-auto">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <tr>
                        <td><strong>Assess Value:</strong></td>
                        <td class="text-end">{{APP_CURRENCY}}{{assessValue.toLocaleString()}}</td>
                      </tr>
                      <tr>
                        <td><strong>Bill Rate:</strong></td>
                        <td class="text-end"> {{chargeRate}}%</td>
                      </tr>
                      <tr>
                        <td><strong>Bill Amount:</strong></td>
                        <td class="text-end">{{APP_CURRENCY}}{{billAmount.toLocaleString()}}</td>
                      </tr>

                      @if(statusInt === 3){
                      <tr>
                        <td><strong>Amount Paid:</strong></td>
                        <td class="text-end">{{APP_CURRENCY}}{{paidAmount.toLocaleString()}}</td>
                      </tr>
                      <!-- <tr class="bg-light">
                        <td class="text-bold-800"><strong>Outstanding:</strong></td>
                        <td class="text-bold-800 text-end"></td>
                      </tr> -->
                      <tr class="bg-light">
                        <td class="text-bold-800"><strong>Balance Due:</strong></td>
                        <td class="text-bold-800 text-end">{{APP_CURRENCY}}{{balance}}</td>
                      </tr>
                      }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            @if(statusInt === 3){
            <div class="container-fluid w-100">

              <a [routerLink]="['/billings/make-payment', url]" class="btn btn-primary float-end mt-4 ms-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send me-3 icon-md">
                  <line x1="22" y1="2" x2="11" y2="13"></line>
                  <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>Make Payment
              </a>
              <button type="button" (click)="exportToPDF(assessmentNo)" class="btn btn-outline-primary float-end mt-4">
               <i class="feather icon-download"></i> Download Bill
              </button>

            </div>
            }

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none; overflow: hidden;" class="row " id="content-to-pdf">
  <div class="col-sm-8  col-md-8 p-0 mb-0 pb-0  watermark-background">
    <div class="card mb-0" style="opacity: 0.9;">
      <div class="card-body">
        <div class="row text-center">
          <div class="col-md-2 ">

          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3 d-flex justify-content-end">
                <img src="assets/images/kgirs.png" height="82" width="82" alt="KGIRS">
              </div>
              <div class="col-md-6">

                <h2 class="bill-heading-two">
                  KOGI STATE GOVERNMENT
                </h2>

                <h3 class="bill-heading-three">CENTRAL BILLING SYSTEM</h3>
                <h4 class="bill-heading-four">NO. 1 BEACH ROAD, LOKOJA, KOGI STATE, NIGERIA.</h4>
                <h5 class="bill-heading-five">PHONE: 08083427276</h5>
                <div class="row">
                  <div class="col-md-12 d-flex justify-content-center mt-1">
                    <div class="table-responsive w-100">
                      <table class="w-100">
                        <tr style="background:#0a3622; color: #ffffff;">
                          <td style="padding: 2px;">LAND USE CHARGE ASSESSMENT {{assessmentYear}}</td>
                        </tr>
                        <tr style="background:#3870C2; color: #ffffff;">
                          <td style="padding: 2px;">DEMAND NOTICE</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-start">
                <img src="assets/images/scan-me.png" height="82" width="82" alt="KGIRS">
              </div>


            </div>
          </div>
          <div class="col-md-2 justify-content-end ">

          </div>
        </div>

        <div class="row watermar" >
          <div class="col-md-12 col-sm-12">
            <div class="row bill-wrapper">
              <h3 class="text-uppercase h3-fs text-center owner-details">Property/Owner Details:</h3>

              <div class="row">
                <div class="col-md-6 pl-4 pt-2 justify-content-start">
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">Bill To:</h3>
                    <h5 class="text-uppercase label-value">{{ownerName}} ({{buildingCode}})</h5>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">Contact Address:</h3>
                    <h5 class="text-uppercase label-value">{{contactAddress}}</h5>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">Property Classification:</h3>
                    <h5 class="text-uppercase label-value">{{propertyClassification}}</h5>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">KGTIN:</h3>
                    <h5 class="text-uppercase label-value">{{kgTin || '-'}}</h5>
                  </div>
                </div>

                <div class="col-md-6 pl-4 pt-2 align-content-end">
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">Date:</h3>
                    <h5 class="text-uppercase label-value">{{entryDate}}</h5>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">Assessment No.:</h3>
                    <h5 class="text-uppercase label-value">{{assessmentNo}}</h5>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">Property Address:</h3>
                    <h5 class="text-uppercase label-value">{{propertyAddress}}</h5>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-uppercase owner-labels">PHONE:</h3>
                    <h5 class="text-uppercase label-value">{{phoneNo}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3 text-center mt-4">
            <div class="table-responsive w-100">
              <table class="w-100" style="border: 1px solid #000000;">
                <tr style="color: #030202; font-weight: bold; border-bottom: 1px solid #000000;">
                  <td colspan="3" style="padding: 2px;">{{assessmentYear}} LAND USE CHARGE (LUC) OF PROPERTY</td>
                </tr>
                <tr style="color: #030202; border-bottom: 1px solid #000000;">
                  <td style="font-weight: bold; padding: 2px; border-right: 2px solid #000000;">ASSESSED VALUE ({{ APP_CURRENCY }})</td>
                  <td style="font-weight: bold; padding: 2px; border-right: 2px solid #000000;">CHARGE RATE (%)</td>
                  <td style="font-weight: bold; padding: 2px;"> LUC AMOUNT ({{ APP_CURRENCY }})</td>
                </tr>
                <tr style="color: #030202;">
                  <td style="font-weight: bold; padding: 2px;">{{assessValue.toLocaleString()}} x </td>
                  <td style="font-weight: bold; padding: 2px;"> {{chargeRate}}  </td>
                  <td style="font-weight: bold; padding: 2px;">= {{ (billAmount).toLocaleString() }}</td>
                </tr>
              </table>
            </div>
          </div>






          <div class="col-md-12 col-sm-12 mt-4">
            <div class="bill-wrapper ">
              <h3 class="text-uppercase owner-details">Billing Details:</h3>
              <div class="row">
                <div class="row">
                  <div class="col-md-6 pl-4 pt-2 justify-content-start">
                    <div class="mb-1">
                      <h3 class="text-uppercase owner-labels">Description:</h3>
                      <h5 class=" label-value">Balance carried forward from previous years</h5>
                    </div>
                    <div class="mb-1">
                      <h3 class="text-uppercase owner-labels">ANNUAL LUC {{assessmentYear}}:</h3>
                      <h5 class="text-uppercase label-value">Government House, Lokoja, Kogi State.</h5>
                    </div>
                  </div>



                  <div class="col-md-6 pl-4 pt-2 align-content-end">
                    <div class="mb-1">
                      <h3 class="text-uppercase owner-labels">AMOUNT ({{ APP_CURRENCY}}):</h3>
                      <h5 class="text-uppercase label-value">20,000.00</h5>
                    </div>
                    <div class="mb-1">
                      <h3 class="text-uppercase owner-labels">25,000.00</h3>
                      <h5>-</h5>
                    </div>
                  </div>
                </div>

                <div class="col-md-12  ">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="text-uppercase text-left pl-3 owner-details">Total Amount Payable</h3>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-12 mt-3 ml-3">
              <h5 class="inline-block">AMOUNT IN WORDS: </h5> <span>{{amountToWords(billAmount)}} Only</span>
            </div>
          </div>


          <div class="col-md-12 col-sm-12 mt-4">

            <p>You are required to pay the established levies in the sum above within 30 days from the date of the receipt of this notice.</p>
            <br>
            <h5>NOTE:</h5>
            <div class="table-responsive">
              <table class="table table-bordered"  style="border:1px solid #000000;">
                <tr>
                  <td>1</td>
                  <td>Payment within 5 days of receipt of Demand Notice</td>
                  <td>15%</td>
                  <td>Timely payment discount</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Payment within 15 days of receipt of Demand Notice</td>
                  <td>10%</td>
                  <td>Timely payment discount</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Payment within 25 days of receipt of Demand Notice</td>
                  <td>5%</td>
                  <td>Timely payment discount</td>
                </tr>
              </table>
            </div>
            <h5>How to Pay:</h5>
            <h5>BANK:</h5>
            <p>
              This assessment notice can be paid at any Bank Branch (First Bank Plc, Zenith Bank Plc, Union Bank for Africa, United Bank for Africa, Access Bank Nigeria Pl, Fidelity Bank Plc, First City Monument Bank, Globus Bank, Keystone Bank Ltd, Lotus Bank Ltd, Sterling Bank PIc) via:
            </p>
            <ul>
              <li>Paydirect - Kogi State Collections</li>
              <li>Etranzact - Kogie-Tax</li>
              <li><h5 class="inline-block">POS:</h5> Kogi State Revenue POS Agents</li>
            </ul>
            <h5>ONLINE PAYMENT</h5>
            <p>You can also visit https://taxpayers.irs.kg.gov.ng to view your bill details and pay using card or transfer by login in with your KGTIN, Contact the KGIRS for your password.</p>
            <br>
            <h5>SELF SERVICE</h5>
            <p>Note that you have the right of objection within the 30 (Thirty) days notice period, after which the assessment becomes Final and Conclusive. However, for the objection to be valid, you are expected to forward payment evidence of your undisputed position alongside your objection. Objection can be done via
              <a href="https://kslas.kg.gov.ng">kslas.kg.gov.ng</a></p>
            <br>
            <p>As we look forward to a timely response and settlement of these obligations, kindly accept the assurance of our highest regards and compliments as always.</p>
            <br>
            <p>
              Yours Sincerely, <br>
              For: <strong>Kogi State Internal Revenue Service</strong>
            </p>
            <div class="row">
              <div class="col-md-6">
                <img src="assets/images/signature.png" height="82" width="82" alt="Signature">
                <h5>Sule Salihu Enehe</h5>
                <p>Executive Chairman</p>
              </div>
              <div class="col-md-6 d-flex justify-content-end">
                <img src="assets/images/scan-me.png" height="82" width="82" alt="Scan">
              </div>
            </div>
          </div>




        </div>



      </div>
    </div>
  </div>
</div>




<p-toast></p-toast>

<div class="modal fade" id="verify" tabindex="-1"  aria-labelledby="verify" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-uppercase text-white" id="exampleModalLabel">Bill Verification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-wrap text-left">This action cannot be undone. Are you sure you want to <span class="text-success">verify</span> this bill?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <button type="button" (click)="verifyObjection()" [disabled]="isFormSubmitted "  class="btn btn-success"> <i class="feather icon-check"></i> Verify</button>
        <button class="btn btn-secondary btn-lg btn-block " disabled *ngIf="isFormSubmitted">Processing...</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="authorize" tabindex="-1"  aria-labelledby="authorize" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-uppercase text-white" id="authorizeModalLabel">Bill Authorization</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-wrap text-left">This action cannot be undone. Are you sure you want to <span class="text-success">authorize</span> this bill?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="authorizeObjection()" [disabled]="isFormSubmitted "  class="btn btn-success"> <i class="feather icon-check"></i> Authorize</button>
            <button class="btn btn-secondary btn-lg btn-block " disabled *ngIf="isFormSubmitted">Processing...</button>
          </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="decline" tabindex="-1"  aria-labelledby="decline" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger ">
        <h5 class="modal-title text-uppercase text-white" id="declineModalLabel">Decline Bill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-wrap text-left">This action cannot be undone. Are you sure you want to <code>decline</code> this bill?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="declineObjection()" [disabled]="isFormSubmitted "  class="btn btn-danger"> <i class="feather icon-x"></i> Decline</button>
        <button class="btn btn-secondary btn-lg btn-block " disabled *ngIf="isFormSubmitted">Processing...</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="approve" tabindex="-1"  aria-labelledby="authorize" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-uppercase text-white" id="approveModalLabel">Bill Approval</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-wrap text-left">This action cannot be undone. Are you sure you want to <span class="text-success">approve</span> this bill?</p>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="approveObjection()" [disabled]="isFormSubmitted "  class="btn btn-success"> <i class="feather icon-check"></i> Approve</button>
            <button class="btn btn-secondary btn-lg btn-block " disabled *ngIf="isFormSubmitted">Processing...</button>
          </div>

      </div>
    </div>
  </div>
</div>
